<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="运营管理" data-options="selected:true" style="overflow:auto;padding:10px;">
        <div style="margin: 5px 20px;">
            <a data-title="活动管理" data-require="activity/list" data-handle="add_tab_click" class="easyui-linkbutton l-btn-large">活动管理</a>
        </div>
    </div>
    <div title="系统管理" data-options="" style="padding:10px;">
        content2
    </div>
    <div title="其他管理" style="padding:10px;">
        content3
    </div>
</div>